{% extends "base.html" %} {% block head %} {{ super() }}
<link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='extended_beauty.css')}}"
/>
{% endblock %} {% block content %} 

<div class="form-group" style="padding-left: 20%; padding-right: 20%; padding-bottom: 0%; padding-top: 70px;">
    <form method="POST" action="/search">
        <div class="input-group">
            <input
                type="search"
                class="form-control"
                id="query"
                name="query"
                aria-describedby="search"
                placeholder="Søk.."
                style="width: 90%;"
            />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Søk</button>
            </span>
        </div>   
    </form>
</div>

<div>
    <table class="table table-hover" style="width: 90em; margin-left: auto; margin-right: auto;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Navn</th>
                <th scope="col">Tlf</th>
                <th scope="col">Poststed</th>
                <th scope="col">Rutiner og ledelse</th>
                <th scope="col">Lokaler og utstyr</th>
                <th scope="col">Mathåndtering og tilberedning</th>
                <th scope="col">Merking og sporbarhet</th>
                <th scope="col">Total Vurdering</th>
            </tr>
        </thead>
        <tbody>
            {% for name, info in restaurants.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ info.get('Tlf') }}</td>
                <td>{{ info.get('Fylke') }}</td>
                <td>{{ info.get('Karakter-1') }}</td>
                <td>{{ info.get('Karakter-2') }}</td>
                <td>{{ info.get('Karakter-3') }}</td>
                <td>{{ info.get('Karakter-4') }}</td>
                <td>{{ info.get('Total')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}